.footer{
    background-color: var(--body-color);
    
}
.footer__container{
    padding:1rem 0 1rem ;
}


.footer__copy{
    display:block ;
    margin-top: 1rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--normal-font-size);
}